.logo{
    padding: 0 !important;
}
.navbar-default {
    background-color: white !important;
    border-color: white !important;
}
.logo_txt{
    top: 4px;
    font-size: 18px;
    left:5px;
}
.navbar-collapse {
    margin-top: 30px;
}
.container{
    background-color: white
}
.navbtn{
    top:-10px;
    color: #202221;
    border-color: #00e6d4;
    background-color: #00e6d4;
    margin-top:4px;
}
li{
    margin-right: 4px;
}
li>a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #202221;
}
li.dropdown>button{
    background-color: white;
}
li a:hover, li>button:hover,li.open>button{
    color: #202221;
    border-color: #00e6d4;
    background: #00e6d4;
}
.contact{
    margin-bottom: 4px;
}