<div class="container">
  <nav class="navbar navbar-default" style="background-color:none;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" routerLink="/">
        <img src="../../assets/img1.jpg" alt="currencyconverter.pk" width="80px">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="logo_txt"><strong>Currency Converter</strong></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li>
          <a>
            <span class="glyphicon glyphicon-user"></span> Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
