<div class="container">
  <nav class="navbar navbar-default" style="background-color:none;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" routerLink="/">
        <img src="../../assets/img1.jpg" alt="currencyconverter.pk" width="80px">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="logo_txt">
          <strong>Currency Converter</strong>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Rates and tools
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="">Live rates and graph</a>
            </li>
            <li>
              <a href="">Currency coverter</a>
            </li>
            <li>
              <a href="">Historical rates</a>
            </li>
            <li>
              <a href="">Countries Name and codes</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">About us
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="">About US</a>
            </li>
            <li>
              <a href="">FAQs</a>
            </li>
            <li>
              <a href="">Our offices</a>
            </li>
          </ul>
        </li>
        <li><a href="">Blog</a></li>
        <li class="contact"><a href="">Contact us</a></li>
        <li class="navbtn btn">
          <a>
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li class="navbtn btn">
          <a>
            <span class="glyphicon glyphicon-user"></span> Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>