.main{
    background-color: #fece00;
    padding: 25px 90px;
}
p{
    text-align: justify;
}
.form-class{
    background-color: white;
}
.d-none{
    display:none;
}
.btn{
    color: #202221;
    border-color: #00e6d4;
    background-color: #00e6d4;
}
.btn[type="submit"]{
    width: 100%;
}
.first{
    margin-top: 15px;
}
button{
    font-size: 18px;
}
.col-md-7 button{
    font-size: 20px;
}
